---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<API_ID>&app_key=<API_KEY>&from=0&q=&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "to" : [ "10" ],
            "q" : [ "" ],
            "app_key" : [ "<API_KEY>" ],
            "app_id" : [ "<API_ID>" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 07 May 2017 18:04:58 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<API_ID>&app_key=<API_KEY>&from=0&q=chickena&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "chickena",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "to" : [ "10" ],
            "q" : [ "chickena" ],
            "app_key" : [ "<API_KEY>" ],
            "app_id" : [ "<API_ID>" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 07 May 2017 18:08:11 GMT
recorded_with: VCR 3.0.3
