<h1>See your Recipes here!</h1>
<% @results.each do |recipe|%>
  <%= link_to recipe[:uri] do %>
    <%= recipe[:name] %><br>
    <%= image_tag(recipe[:pic]) %>
    <!-- <%# recipe[:uri] %> -->
  <% end %>
  <br><br><br>
<% end %>
<!-- turn this into a partial -->
<footer>
  <p class="attribute"> Powered by Edamam
    <img src="/assets/edamam_logo.png" alt="Edamam Logo">
  <p>
</footer>