<section class = 'recipe-search-results'>
  <% if !@recipes.empty? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%=link_to(recipe.recipe_name, recipe_path( recipe.id))%></li>
    <% end %>
  </ul>
  <% else %>
    <p>There were no recipes found containing the term(s) <%= params[:q] %>.</p>
  <% end %>
</section>
