<section class="background">

<h2 class="homepage-title">MUNCHER</h2>

<%= form_tag search_recipe_path, method: :get do %>
<p class="form"><%= label_tag(:search, "Find your flavor...") %></p>
<p class="form search"><%= text_field_tag(:search) %></p>
<p class="submit"><%= submit_tag("Search", class: "button")  %></p>
<% end %>
</section>
